<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                {% for header in headers %}
                    <th>{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                    {% for cell in row %}
                        <td>{{ cell }}</td>
                    {% endfor %}
                </tr>
            {% empty %}
                <tr>
                    <td colspan="{{ headers|length }}" class="inl-s-b5dc981a49">لا توجد بيانات</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
